
@mixin button {
  height: 60px;
  padding: 0 20px;
  margin: 0;
  font-size: 1em;
  line-height: 60px;
  border-radius: 10px;
  border-style: none;
  background: $brand-color-1;
  cursor: pointer;
  color: #fff;

  &:hover {
    background-color: $brand-color-1-hover;
  }
}
