@import './variables';
@import './mixins';

body {
  text-align: center;
  font-family: $primary-font-family;
  background: #2e2e2e;
  color: #fff;
  font-size: 20px;
}

h1#logo {

  span {
    font-size: 1.05em;
    color: $brand-color-1;
  }
}

#lengthen-form-container {
  .form-text {
    font-size: 1em;
    display: inline-block;
    height: 60px;
    padding: 0 20px;
    border-radius: 5px;
    border-style: none;
    margin: 0 15px 0 0;
  }

  .btn-submit {
    @include button;
    display: inline-block;
  }
}

#lengthened-result-container {

  .url {
    color: $brand-color-1;
  }
}
